<?xml version="1.0"?>
<robot name="my_arm_robot"
    xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- <xacro:include filename="$(find-pkg-share my_robot_description)/urdf/common_properties.xacro"/>
    <xacro:include filename="$(find-pkg-share my_robot_description)/urdf/arm.urdf.xacro"/>  -->

    <xacro:include filename="common_properties.xacro"/>
    <xacro:include filename="arm.urdf.xacro"/>

    <xacro:include filename="gripper.xacro"/>

    <xacro:include filename="my_arm_robot.ros2_control.xacro"/>

    <joint name="gripper_base_joint" type="fixed">
        <parent link="tool_link"/>
        <child link="gripper_base_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
</robot>
